<div id="game">
	<button ng-click="create()" class="new-game btn btn-danger"><span class="icon-loop"></span></button>
	<div class="game">
		<a ng-click="addPickCard()" class="decks" href></a>
		<div ng-class="{'opacity-card': !getLastElm(pick)}"
		     class="pick">
		     <div ng-if="getLastElm(pick)"
		     	  draggable="true" data-pick="true"
		     	  class="card color-{{ getLastElm(pick).color }} value-{{ getLastElm(pick).value }}">
			</div>
		</div>

		<div ng-repeat="(indexSavedCard, savedCard) in savedCards"
			 ng-class="{'opacity-card': !getLastElm(savedCard)}"
		     droppable="true" x-on-drop="dropSavedCard(savedCard)"
		     class="saved-card">
			<div ng-if="getLastElm(savedCard)"
				 class="card color-{{ getLastElm(savedCard).color }} value-{{ getLastElm(savedCard).value }}">
			</div>
		</div>
	</div>
	<div class="piles">
		<section>
			<div ng-repeat="(pileIndex, pile) in piles"
				 ng-class="{'opacity-card': !getLastElm(pile)}"
				 droppable="true" x-on-drop="dropPile(pile)"
				 class="pile">
				<div ng-repeat="(cardIndex, card) in pile"
					 droppable="{{ isLastCard(pile, cardIndex) ? true : '' }}" x-on-drop="dropPile(pile)"
					 draggable="{{ card.display ? true : '' }}" data-pile-index="{{pileIndex}}" data-card-index="{{cardIndex}}"
					 ng-class="{'card': card.display, 'card-hide': !card.display, 'lastCard': isLastCard(pile, cardIndex)}"
				     class="{{ card.display ? 'color-' + card.color : '' }} {{ card.display ? 'value-' + card.value : '' }}">
				</div>
			</div>
		</section>
	</div>
</div>
